{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
  "sourceType": "module",
  "allowImportExportEverywhere": false,
  "codeFrame": false,
  "requireConfigFile": false,
  "babelOptions": {
    "presets": ["@babel/preset-react"]
 },
},
"extends": ["airbnb", "prettier"],
"env": {
  "browser": true,
  "jest": true
},
"rules": {
  "max-len": ["error", {"code": 100}],
  "prefer-promise-reject-errors": ["off"],
  "react/jsx-filename-extension": ["off"],
  "react/prop-types": ["warn"],
  "no-return-assign": ["off"],
  "import/no-extraneous-dependencies": ["off"],
  "react/jsx-props-no-spreading": ["off"],
  "no-console": "off",
  "react/forbid-prop-types": "off",
  "import/no-cycle": "off"
}
}
